{% extends 'layout.html' %} {% block content %}
        
    <div class="sentiments">
        <form action="/feedback/{{ feedback._id }}/update" method="POST">
                 <div class="form-group">
                     <label for="feedback">Leave your feedback </label>
                     
                     <textarea id="feedback" class="feedback" rows='8' cols="140" name="feedback" placeholder="Write feedback . . ."></textarea>
                 </div>
             
                 <div>
                     <button type="submit" class="btn">Submit</button>
                   </div>
             </form>
 
                   <div class="sentiment-image">
             <div>
                 <img src="./static/files/sentiment_pie_chart.jpg" alt="sentiment result pie chart" />
             </div>
             <div>
                 <img src="./static/files/sentiment_bar_chart.jpg" alt="sentiment result bar chart" />
             </div>
           
         </div>
 
     <div class="senti-category">
         <div class="pos">Positive(67) 😀 </div>
         <div class="neu">Neutral(22) 😐</div>
         <div class="neg">Negative(4) 😕</div>
     </div>
         
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you for your information sharing. I found all your lessons very helpful. -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 April 2024 07:11 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you for your information sharing. I found all your lessons very helpful. -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 April 2024 07:10 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> What I really like about this challenge is the conciseness of the information and I can just come back to refresh my memory about anything which is quite good. I think the author knows his stuff.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>29 March 2024 03:46 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>29 March 2024 03:44 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> thank u-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>29 February 2024 04:34 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>30 January 2024 09:02 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> very good-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>11 January 2024 10:29 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>08 January 2024 03:07 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>01 January 2024 09:30 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you for taking the time to take this 30-day Python course. I would just like to say that it would be interesting for new students who don&#39;t know any programming language to have ideas for a final project that encompasses everything we learned in the 30 days. Other than that, thank you for the course, it was very useful for me to refresh my knowledge in Python.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>28 December 2023 08:40 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Great guides
Thank you very much ^^-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>19 December 2023 09:08 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment negative">
                 <p> Gracias! he aprendido la base de Python con sus 30 dias!-    
                     😕
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 December 2023 05:48 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Excellent 👍🏻
-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>06 November 2023 01:13 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> the best!!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>31 October 2023 01:11 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Awesome in precise manner ..Thankyou-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>28 September 2023 06:38 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Nice work-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 September 2023 01:42 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 September 2023 01:42 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 September 2023 01:42 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Bro made the perfect Python course, i love u mate-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>19 September 2023 07:38 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Great course, i&#39; ve learned a lot. -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>18 September 2023 01:32 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It is one of the most useful Python learning material on the internet.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 September 2023 11:27 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Dear Asabeneh,

My name is Eduardo, I have completed your 30 day challenge in over 3 months, with some extended breaks, but finally today (August 19, 2023) I have finished.

I must say that I enjoyed the first half very much, and I am confident that I can continue to learn on my own, with the resources and topics you have shown me.

However, I must say that the last 10 days were full of gaps and erros in the code. I used ChatGPT to overcome those problems, but I&#39;m sure without an AI I would not have been able to finish.

I strongly suggest you to check your tutorial and updated it, it is really a useful resource for beginners, it would be sad to lose this valuable learning option, only because of some outdated and broken links and incomplete code.

By the way, the last 5 days could be improved, all those tools are different from then.

In any case, I trust that others will want to help you in these tasks. They will gain experience, they will learn more things not only in the coding department and the new students that are yet to come will have an even better tool than us.

Anyway, to close I assure you that I will remember you with fondness and nostalgia. You helped me to take my first steps in this world, I am deeply grateful for it.

With love from Peru.

Eduardo

-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>20 August 2023 04:11 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Just now I have completed the 30DaysOfPython .
Thank you so much sir for great resources.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>02 August 2023 01:18 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment negative">
                 <p> It is a bad teacher-    
                     😕
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>30 July 2023 10:02 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It is an awesome teacher-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>30 July 2023 10:02 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It is a great teacher-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>30 July 2023 10:02 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> U the big homie man
-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>04 July 2023 07:13 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It was great experience while taking this 30 days training. Each and every day I learned new new things.  This link help to understand from basics to advance. Thank you so much.
-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>28 September 2022 04:39 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> You made python very simple to learn . thankyou so much for the efforts -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>27 September 2022 04:40 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thanks Asabeneh for your 30 Days Of Python course! The course is compact but covers major topics of Python, and therefore is very helpful for beginners!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>17 September 2022 11:49 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Very good book, i like it!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>15 September 2022 02:50 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Hello, I am Hifzur Rahman, thanks for guiding me to learn python...-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>09 September 2022 08:49 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It was very useful-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>17 August 2022 12:40 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Very interesting to study and very useful -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 August 2022 03:31 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It is really nice  content, I have gone through it and I have revised all my concept of python 
Thanks for this kind of material and content. -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>23 July 2022 06:14 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Very best to learn fast-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>22 July 2022 01:16 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment negative">
                 <p> Please Mention few projects to make at day_30. or what to do after completion of the basics.-    
                     😕
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>26 June 2022 02:00 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Positive-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>06 June 2022 06:12 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> good-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>06 June 2022 06:12 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> import numpy as np
# How to check the version of the numpy package
print(&#39;numpy:&#39;, np.__version__)
 # Checking the available methods
print(dir(np))-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 April 2022 08:16 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> very useful and informative content.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>30 March 2022 04:11 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>22 March 2022 03:22 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Very nice 👍🏻-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>23 February 2022 06:00 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> This was a very good course but I&#39;d love it if you could do a review on the codes. Some concepts are outdated and some codes do not just work, for example in places where you run a code without importing relevant modules or where you run a code with an undeclared variable. Thanks so much.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>19 February 2022 09:34 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> Hey,Hello i finished the python 30-days-challange but i can&#39;t get certificate, how can i get please, help.-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 February 2022 05:10 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> aWESOME PACKASGE-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>17 September 2021 12:35 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> 
Hi

We are content writers. 

We can write the content for your website or blog. 

We also do content syndication for better visibility and backlinks.

Check us out at http://GetContent.click

Get original content written for only $2 per 100 words.

Check us out and bookmark us now.



Cheers!

Ethan Nuzzo

PS: We have US/UK Writers. All original content. Any topic. Test us.








We only send you one email but if you want to opt out then do it at http://unsubscribe.getcontent.click-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>11 August 2021 12:41 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> I am Desta From Bahir Dar, The tutorial you prepared are awesome and key for beginners to get ready for job as junior developer. I Thanks for your help, if u can please try to prepare django tutorial -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 July 2021 10:05 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Excellent tutorial with no redundant materials. It would be good if the answers to the homework become available. -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>17 May 2021 11:28 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> it was a great experience and I learned a lot. the only thing I would change is adding an answer key so people could check their answers and see what they need to know if they are stuck. -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>18 April 2021 07:50 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> As of pip 1.3, there is a pip show command. In older versions, pip freeze and grep should do the job nicely. You can use the grep command to find out. will show only the versions.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>13 April 2021 04:23 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Positive-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>18 March 2021 04:20 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> nice-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>18 March 2021 04:19 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>11 March 2021 12:47 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> Teste-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>10 March 2021 11:20 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Good-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>02 March 2021 03:17 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> I have learnt alot-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>02 March 2021 12:00 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> yes-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>05 January 2021 09:42 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> kaan-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>23 November 2020 06:23 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you very much, 30DaysOfPython teams.  I&#39;m really happy to learn all these things smartly.  -    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>22 October 2020 03:33 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you excellent
Thank you excellent
Thank you excellent
Thank you excellent
Thank you excellent
Thank you excellent
Thank you excellent
Thank you excellent
-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>16 October 2020 01:57 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> the best-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:52 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> great-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:52 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> genial-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:52 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> maravilla-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:52 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> great-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:52 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> cool-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:51 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> .-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>07 October 2020 09:51 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> good one...keep inspiring  :)-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>04 October 2020 06:43 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Great learning material-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>29 July 2020 01:21 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> dzsfsdfgsdfsdfsadf-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>06 July 2020 04:10 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> A very great resource for learning python and JavaScript-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>01 July 2020 11:07 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> About 30 Days Of Python Programming
This is a 30 days of python programming challenge. If you have been coding this far, you are awesome. Congratulations for the job well done!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>18 April 2020 05:07 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> About 30 Days Of Python Programming
This is a 30 days of python programming challenge. If you have been coding this far, you are awesome. Congratulations for the job well done!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>18 April 2020 05:07 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 February 2020 11:32 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 February 2020 11:32 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> -    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 February 2020 11:32 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Conclusions
In the process of preparing this material I I have learning quite a lot and you have inspired me to do more. Congratulations for making it to this level. If you have done all the exercise and the projects, now you are capable to go a data analysis, data science, machine learning or web development.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>14 February 2020 10:39 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> 30 days are not enough to learn everything but it&#39;s enough to be confident developer.
-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 January 2020 08:54 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> course was good and progressive and motivating-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 January 2020 08:54 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment neutral">
                 <p> feedback given as asked-    
                     😐
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 January 2020 08:53 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It was wonderful experience-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 January 2020 08:53 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Its Good-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>24 January 2020 08:53 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment negative">
                 <p> add translation to other language like indonesian, japanese, etc.-    
                     😕
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>22 January 2020 10:11 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> I really enjoined the course, I went through all the materials and I found it really useful weather  you are beginner programmer or advanced one!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>20 January 2020 03:09 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you for great education.. It was so detailed and comprehensiable lessons. I am recommending your lessons for learners. Thank you so much. I am greeting you in Turkey...-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>13 January 2020 06:50 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Hi. I enjoyed the way you teach.  You covered many topics. I preffer this kind of text series rather than video series, this way it is easier to learn at my own pace. I was familiar with python before starting your content, in fact I have already done two projects with python. The reason i started this serie was that i wanted to have better knowledge about basics, to see topics that i possible miss and to exercise on python more.  It is obvious that you have spent a lot of effort on creating this. I noticed many mistakes throughout the course, though. Both in code parts and typos in information parts. That is the only reason that makes me hesitate to recommend this course to people who wants to learn python. I kept learning from this serie although i was aware of these mistakes because i enjoyed the way you put information and since i already had knowledge in python, i checked parts that i am confused or doesn&#39;t seem right to me. Thank you for your effort.

ardacaneroner@gmail.com-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>05 January 2020 11:37 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Hi. I enjoyed the way you teach.  You covered many topics. I preffer this kind of text series rather than video series, this way it is easier to learn at my own pace. I was familiar with python before starting your content, in fact I have already done two projects with python. The reason i started this serie was that i wanted to have better knowledge about basics, to see topics that i possible miss and to exercise on python more.  It is obvious that you have spent a lot of effort on creating this. I noticed many mistakes throughout the course, though. Both in code parts and typos in information parts. That is the only reason that makes me hesitate to recommend this course to people who wants to learn python. I kept learning from this serie although i was aware of these mistakes because i enjoyed the way you put information and since i already had knowledge in python, i checked parts that i am confused or doesn&#39;t seem right to me. Thank you for your effort.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>05 January 2020 11:36 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> It is a great resource for learning the fundamentals of Python. Thank you for making it. Please, it will be great to correct some typos here and there. And repeat less of the same basic question on different days.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>28 December 2019 09:47 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Thank you so much for the your material. very useful.-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>25 December 2019 04:58 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> This is cool, 
# feature request - can we add a live markdown editor ?-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>23 December 2019 02:16 PM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Amazing course!! Easy to follow, very clear and well explained! I really like the format of it.
I would like have the same course format for other language like javascript or typescript! or even for a framework like react or angular!

Thanks again for this amazing work!!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>20 December 2019 10:14 AM </time>
                     
             </div>
           
     </div>
     
         <div class="pos-neu-neg  sentiment positive">
                 <p> Hi. I am Rahul.
You did a great job here and inspired me to program more and more. It was really easy to understand from the beginning and taking it to the higher level so smoothly. Nothing much  to say. Cheers!-    
                     😀 
                     
               
                     <br />
                     
                 </p>
                 <div class="sentiment-footer">
                     <time>20 December 2019 08:16 AM </time>
                     
             </div>
           
     </div>
     
    </div>

{% endblock %}