    {% extends 'layout.html' %} {% block content %}
    <div class="container">
    <h1>Students List</h1>
    <ul>
        {% for student in students %}
        <li>
            <strong>Name:</strong> {{ student.name }}<br>
            <strong>Date of Birth:</strong> {{ student.dateofbirth }}<br>
            <strong>Country:</strong> {{ student.country }}<br>
            <strong>City:</strong> {{ student.city }}<br>
            <strong>Skills:</strong> {{ student.skills }}<br>
            <strong>Bio:</strong> {{ student.bio }}<br>
            <strong>Created at:</strong> {{ student.created_at }}<br>
       </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}